@model PmsWebApi.Models.Tenant
@{
    ViewData["Title"] = "Delete";
}
<h1>Delete</h1>


@using (Html.BeginForm())
{


    @Html.AntiForgeryToken()


    <table class="table">
        <thead></thead>
        <tbody>
            <tr>
                <td> User Id </td>
                <td> @Html.DisplayFor(m => m.UserId) </td>
            </tr>

            <tr>
                <td> FirstName </td>
                <td>  @Html.DisplayFor(m => m.FirstName) </td>
            </tr>

            <tr>
                <td> LastName: </td>
                <td>  @Html.DisplayFor(m => m.LastName) </td>
            </tr>

            <tr>
                <td> Cellphone Number: </td>
                <td>  @Html.DisplayFor(m => m.CellphoneNumber) </td>
            </tr>

            <tr>
                <td> Id Number </td>
                <td> @Html.DisplayFor(m => m.IdNumber) </td>
            </tr>
        </tbody>
    </table>
    

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Delete" class="btn btn-primary btn-group-lg" />


        </div>
    </div>


}

