@model IEnumerable<PmsWebApi.Models.Notifications>


@{
    ViewData["Title"] = "Index";
}

<h1>View All Maintenance Logs </h1>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                @Html.ActionLink("Create Maintenance Log", "Create", new { @*IdNumber => item.IdNumber*@})
            </div>
            <div class="x_content">
                <table class="table">
                    <tr>
                        <th> Note Id</th>
                        <th> Note Description </th>
                       
                    </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoteId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NoteDescription)
                                </td>

                                <td>
                                    <button class="btn btn-group-lg pms-btn">
                                        @Html.ActionLink("Edit Log", "Edit", new { NoteId = item.NoteId })
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-group-lg pms-btn">
                                        @Html.ActionLink("View Log", "Details", new { NoteId = item.NoteId })
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-group-lg pms-btn">
                                        @Html.ActionLink("Delete Log", "Delete", new { NoteId = item.NoteId })
                                    </button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


