
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @if (@ViewBag.Message != null)
    {
        <div style="border: 1px solid red">
            @ViewBag.Message
        </div>
    }

    <table>
        <tr>
           
            <td><input class="text-box single-line" id="AmountDue" name="AmountDue" type="text" value="" /></td>
       </tr>
      
    </table>

  

    <button class="btn btn-group-lg btn-warning">
        @Html.ActionLink("Make Payment Now", "Onceoff", new { id ="AmountDue" })
    </button>

     }






@*@model IEnumerable<PMS_Web_Api.Models.Rent>
    @{
        ViewData["Title"] = "Index";
    }

    <h1>Index</h1>

    <div class="col">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Once-Off Payment</h3>
            </div>

            <div class="panel-body">
                <p><h5>Only R30 once off</h5></p>
                <p>This is a once off payment</p>
            </div>
            <div class="text-right">
                <a asp-action="OnceOff" class="btn btn-block btn-success">Buy Now</a>


                <a target="_blank" href="https://github.com/louislewis2/payfast/blob/master/samples/PayFast.Web.Core/Controllers/HomeController.cs#L74-L100" class="btn btn-block btn-info">Server Source Code</a>
            </div>
        </div>
    </div>*@